@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eff6ff;
  color: #0f172a;
  font-family: ui-sans-serif, system-ui;
}

button {
  cursor: pointer;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 200% 50%; }
}